{% extends 'base.html' %}

{% block content %}

<!-- Banner with Coffee Survay Action -->
  
  
      <div class="slider">
    <ul class="slides">
      <li>
        <img class="responsive-img" src="https://images.unsplash.com/photo-1507990718594-150f1f22dc25?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"> <!-- random image -->
        <div class="caption center-align">
          <h3>Coffee Culture Club</h3>
          <h5 class="light grey-text text-lighten-3">More than just coffee. Its a community and a movement brought together by a love of coffee.</h5>
            <a href="#" class="waves-effect waves-light btn amber darken-3"><i class="material-icons left">shopping_basket</i>Products</a>
        </div>
      </li>
      <li>
        <img src="https://images.unsplash.com/photo-1482509523773-3cd80d975c52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"> <!-- random image -->
        <div class="caption left-align">
          <h3>Community Coffee Survay</h3>
          <h5 class="light grey-text text-lighten-3">Take our survay and get 20% off your next order! </h5>
          <a class="waves-effect waves-light btn amber darken-3"><i class="material-icons left">question_answer</i>Survay</a>

        </div>
      </li>
      <li>

      
        <img src="https://images.unsplash.com/photo-1496395650962-374cae58ca8b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80"> <!-- random image -->
        <div class="caption right-align">
          <h3>Join the Club</h3>
          <h5 class="light grey-text text-lighten-3">Sign up for an account and get free shipping off your first order!</h5>
            <a href="{% url 'registration' %}" class="waves-effect waves-light btn amber darken-3"><i class="material-icons left">insert_emoticon</i>Sign Up</a>

        </div>
      </li>
      <li>
        <img src="https://images.unsplash.com/photo-1426174840074-541ae41efdb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80"> <!-- random image -->
        <div class="caption center-align">
          <h3>Meetup with like-minded Induvials</h3>
          <h5 class="light grey-text text-lighten-3">Check out Coffee Culture Club Meets ups near you</h5>
          <a  href="{% url 'get_posts' %}" class="waves-effect waves-light btn amber darken-3"><i class="material-icons left">person</i>Meetups</a>
        </div>
      </li>
    </ul>
  </div>
      
        

    
    
    <!-- Coffee Culture Club Cards -->


    <!-- Coffee -->

<div class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image responsive-img">
          <img src="https://images.unsplash.com/photo-1517705600644-3f392e2d6439?ixlib=rb-1.2.1&auto=format&fit=crop&w=2468&q=80">
          <span class="card-title">Coffee</span>
        </div>
        <div class="card-content">
          <p>At Coffee Culture Club we select only the finest Coffee beans from fairtrade producers. A perfect selection of strengths and flavours for all coffee lovers.
          All of our products are sourced ethically and use environment friendly packaging. 
           </p>
          <p></p>

        </div>
        <div class="card-action">
          <a href="{% url 'products' %}">Products</a>
        </div>
      </div>
    </div>
  
    <!-- Cuolture -->

    
     <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image responsive-img">
          <img src="https://images.unsplash.com/photo-1560116351-4b63abd2044b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">
          <span class="card-title">Culture</span>
        </div>
        <div class="card-content">
          
          <p>Its not all just about coffee. We live and seek culture. Open your mind and meet unqiue new people.
          We believe society needs to break away from what they're used to and experience something completely new, with other people in which
          they can learn and grow with.</p>
          

        </div>
        <div class="card-action">
          <a href="{% url 'get_posts' %}">Meetups</a>
        </div>
      </div>
    </div>
    
   <!-- Club -->

    
     <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image responsive-img">
          <img src="https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80">
          <span class="card-title">Club</span>
        </div>
        <div class="card-content">
          <p>Join the Club!
          </p>
          
          <p>G'wan, sign up and join the movement you should be apart of. Plus get FREE SHIPPING off your first order of coffee!</p>

        </div>
        
        {% if user.is_authenticated %}
        <div class="card-action">
          <a href="#">Club</a>
                  </div>
          
          {%  else %}
        <div class="card-action">
          <a href="{% url 'registration' %}">Join the club</a>
                    {% endif %}

        </div>
      </div>
    </div>
  </div>
  
  
   <div class="row">
      <div class="parallax-container">
      <div class="parallax">
        <img src="https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80">
               <h1 class="quiz-header">Coffee Culture Club</h1>

        </div>
    </div>
    </div>
    

{% endblock %}