{% extends "base.html" %}
{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block content %}

<div class="container">
<div class="row white-container"> 
<div class="col l10 offset-l1 m12 s12">
<form method="post" class="accountform">
    <h2>Password Reset</h2>
    <p>Please specify your email address to receive instructions for resetting it.</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input class="btn amber darken-3" type="submit" value="Reset password" /></p>
</form>
</div>
</div>
</div>

{% endblock %}