{% extends 'base.html' %}
{% block content %} 
<!--  Meetup  Card -->


<div class="row">
    {% for post in posts %}

    <div class="col s12 m12 l6">
        <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator img-meetup responsive-img" src="{{ MEDIA_URL }}{{ post.image }}">
            </div>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">  
                     <h4>{{ post.title }}</h4><i class="material-icons right">more_vert</i></span>
                     

                <p><a href="{% url 'post_detail' post.id %}" class="waves-effect waves-light btn amber darken-3"><i class="material-icons left">mode_comment</i>See Comments</a></p>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ post.title }}<i class="material-icons right">close</i></span>
                <p>{{ post.content }}</p>
                
                <p><span class="bold">Category:</span> {{ post.category }}</p>
                <p><span class="bold">Location:</span> {{ post.location }}</p>
                <p><span class="bold">Views:</span> {{post.views}}</p>
                <p><span class="bold">Comments:</span> {{ post.comments.count }}</p>

                <p><a href="{% url 'post_detail' post.id %}" class="waves-effect waves-light btn amber darken-3"><i class="material-icons left">mode_comment</i>See Comments</a></p>

            </div>
        </div>
    </div>
    {% endfor %}

</div>

<!-- Floating New Meetup Action  -->

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
    <i class="large material-icons">add_circle_outline</i>
  </a>
    <ul>
        <li><a class="btn-floating green" href="{% url 'new_post' %}"><i class="material-icons">publish</i></a></li>
    </ul>
</div>

{% endblock %}
