{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col l8 offset-l2 m12 s12">
        <div class="card">
            <div class="card-image">

                {% if post.image %}
                <img class="img-meetup responsive-img" src="{{ MEDIA_URL }}{{ post.image }}"> {% endif %}
                <span class="card-title">{{ post.title }}</span>
            </div>


            <div class="card-content">
                <p>{{ post.content }}</p>
                <p><span class="bold">Author:</span> {{post.author}}</p>
                <p><span class="bold">Published on:</span> {{ post.published_date }} </p>
                <p><span class="bold">Views:</span> {{post.views}}</p>
                <p><span class="bold">Category:</span> {{ post.category }}</p>
                <p><span class="bold">Location:</span> {{ post.location }}</p>


                <hr> {% for comment in post.comments.all %}
                <div class="comment">

                    <p>{{ comment.author }} | {{ comment.created_date }}</p>
                    <p>{{ comment.text|linebreaks }}</p>

                </div>
                {% empty %}
                <p>No comments here yet :(</p>
                {% endfor %} {% if user.is_authenticated %}

                <a class="waves-effect waves-light btn amber darken-3" href="{% url 'add_comment_to_post' post.id %}"><i class="material-icons">mode_comment</i> Add comment</a> {% else %}
                <h4 class "white-text">Please sign-in or register to leave comments</h4>
                <a class="waves-effect waves-light btn amber darken-3" href="{% url 'registration' %}">Join</a>

                <a class="waves-effect waves-light btn amber darken-3" href="{% url 'login' %}">Login</a> {% endif %}
                <a href="{% url 'get_posts' %}" class="btn amber darken-3"><i class="material-icons">arrow_back</i> </a>

            </div>
        </div>
    </div>
</div>



<!-- Floating New Meetup Action  -->
{% if user.is_authenticated %}

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
    <i class="large material-icons">add_circle_outline</i>
  </a>
    <ul>
        <li><a class="btn-floating green" href="{% url 'new_post' %}"><i class="material-icons">publish</i></a></li>
    </ul>
</div>

{% else %}
<div class="row center-align white-text">
    <p>Please sign-in or register to add meetups</p>
    <a class="waves-effect waves-light btn amber darken-3" href="{% url 'registration' %}">Join</a>

    <a class="waves-effect waves-light btn amber darken-3" href="{% url 'login' %}">Login</a> {% endif %}
</div>
{% endblock %}


<!-- test -->
