.feature-image {
    background-image: url("https://images.unsplash.com/photo-1514845994104-1be22149278b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");
    height: 500px;


}


.white-text {
    color: white;
}

.comment {
    margin: 20px 0px 20px 20px;
}


.large {
    height: 700px;
}

.card-content {
    min-height: 175px;
}



.quiz-header {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
    color: white;
}

.quiz-action {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 65%;
    text-align: center;
    width: 60%;
    color: white;
}



body {
    font-family: 'Montserrat', sans-serif;
    background: black;
}

.white-container {
    background-color: white;
    border-radius: 25px;
    padding-bottom: 15px;

}

.bold {
    font-weight: bolder;
}

.product-name {
  font-size: large;
  font-weight: bolder;

}

.input-group {
    padding-bottom: 20px;
}
.container .row .white-container{
    margin-left: 0;
    margin-right: 0;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.input-field {
    max-width: 100px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #c0c0c0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #c0c0c0;
        background-color: #2e2929;
    }
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}