.white-text {
    color: white;
}

.comment {
    margin: 20px 0px 20px 20px;
}


.card-content {
    min-height: 175px;
}



.messages {
    padding-bottom: 10px;
}


body {
    font-family: 'Montserrat', sans-serif;
    background: black;
}

.white-container {
    background-color: white;
    border-radius: 25px;
    padding-bottom: 15px;

}

.bold {
    font-weight: bolder;
    font-size: large;
}

.product-name {
  font-size: large;
  font-weight: bolder;

}

.input-group {
    padding-bottom: 20px;
}
.container .row .white-container{
    margin-left: 0;
    margin-right: 0;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.input-field {
    max-width: 100px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}


.product-description {
    min-height: 40px;
}