{% extends 'base.html' %}
{% block page_title %}Login Page{% endblock %}
{% block page_heading %}User Login{% endblock %}
{% block content %}

<div class="container">
<div class="row white-container"> 
<div class="col l10 offset-l1 m12 s12">
<form method="POST">
    <h2>Login</h2>
    <p>If you don't have an account, you can <a href="{% url 'registration' %}">join here</a></p>
    {% csrf_token %} {{ login_form}}
    <button type="submit" class="waves-effect waves-light btn amber darken-3">Login</button>
</form>
<p><a href="{% url 'password_reset' %}">Reset Password</a></p>
</div>
</div>
</div>

{% endblock %}