{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container">
    {% for item in cart_items %}
    <div class="row white-container">
        <div class="col s12 m12 l8 offset-l2">

            <div class="center-align">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>

                <h4>{{ item.product.name }}</h4>
                <p>

                    <p class="bold">€{{ item.product.price }}</p>
                    <div class="input-group-addon">Cart Quantity: {{item.quantity}}</div>


            </div>

            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}


                <div class="form-group">
                    <label for="exampleInputAmount" class="sr-only">Update Quantity</label>


                    <div class="input-group">
                        <input name="quantity" type="number" min="0" max="999" class="form-control" required>

                    </div>


                </div>
                <button type="submit" class="waves-effect waves-light btn amber darken-3"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
            </form>
            </p>
        </div>


    </div>

    {% endfor %}

    <div class="row white-container center-align">
        <div class="col s12 m12 l8 offset-l2">
            <p class="bold">Total</p>
            <p class="bold">€{{ total }}</p>
            <a href="{% url 'checkout' %}" class="waves-effect waves-light btn amber darken-3" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>
    </div>
</div>


{% endblock %}